.menu {
  background: #E7F2FF;
}
.menu ul {
  width: 840px;
  margin: auto;
  overflow: hidden;
}
.menu ul li {
  width: 105px;
  display: block;
  text-align: center;
  color: #353d62;
  height: 45px;
  line-height: 45px;
  font-size: 13px;
  float: left;
}
.menu ul li a {
  color: #353d62;
  text-decoration: none;
}
.menu ul li:hover {
  background: #F9B504;
}
.menu ul li:hover a {
  color: #fff;
}
.menu ul .active {
  background: #F9B504;
}
.menu ul .active a {
  color: #fff;
}
